:root { 
  --alizarin-crimson: #e82e2e;
  --black: #000000;
  --blue-jeans: #6db2f2;
  --blue-jeans-2: #6db2f2e6;
  --carnation: #f75c5c;
  --curious-blue: #378ad3;
  --danube: #63a1db;
  --danube-2: #64a2dc;
  --denim: #0d6bbf;
  --endeavour: #075baa;
  --fun-blue: #0e5a9f;
  --gallery: #ededed;
  --havelock-blue: #428fd3;
  --hunter-green: #161616;
  --licorice: #141414;
  --persian-red: #d53030;
  --red: #ff0000;
  --supernova: #ffcc00;
  --tart-orange: #f74949;
  --thunderbird: #ba1919;
  --thunderbird-2: #c31d1d;
 
  --font-size-l: 35px;
  --font-size-m: 22px;
  --font-size-s: 18px;
  --font-size-xl: 55px;
  --font-size-xs: 16px;
  --font-size-xxl: 263px;
  --font-size-xxs: 15px;
 
  --font-family-formadjr_micro-bold: "FormaDJR Micro-Bold", Helvetica;
  --font-family-formadjr_micro-light: "FormaDJR Micro-Light", Helvetica;
  --font-family-formadjr_micro-medium: "FormaDJR Micro-Medium", Helvetica;
  --font-family-formadjr_micro-regular: "FormaDJR Micro-Regular", Helvetica;
  --font-family-magistral-book: "Magistral-Book", Helvetica;
}
.formadjrmicro-regular-normal-licorice-22px {
  color: var(--licorice);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-regular-normal-licorice-17px {
  color: var(--licorice);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-regular-normal-licorice-15px {
  color: var(--licorice);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-regular-normal-licorice-11px {
  color: var(--licorice);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-medium-licorice-34px {
  color: var(--licorice);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
}

.formadjrmicro-medium-licorice-24px {
  color: var(--licorice);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.formadjrmicro-medium-licorice-18px {
  color: var(--licorice);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.formadjrmicro-medium-licorice-10px {
  color: var(--licorice);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
}
