/* screen - impressum-1200 */

.impressum-1200 {
  background-color: var(--licorice);
  height: 100vh;
  margin: 0px;
  min-height: 5099px;
  min-width: 1200px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.impressum-1200 .gruppe-1175-oaVtER {
  background-color: transparent;
  display: block;
  height: 55px;
  left: 139px;
  opacity: 0;
  position: absolute;
  top: 162px;
  width: 17.00%;
}

.impressum-1200 .gruppe-1175-oaVtER.bp2-animate-enter {
  animation: bp2-animate-enter-frames 1.00s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1200 .impressum-UMyACN {
  -webkit-text-stroke: 3.299999952316284px var(--gallery);
  background-color: transparent;
  color: var(--gallery);
  font-family: var(--font-family-magistral-book);
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 42px;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.impressum-1200 .gruppe-1177-oaVtER {
  background-color: transparent;
  display: block;
  height: 4486px;
  opacity: 0;
  position: absolute;
  right: 155px;
  top: 496px;
  width: 75.54%;
}

.impressum-1200 .gruppe-1177-oaVtER.bp2-animate-enter1 {
  animation: bp2-animate-enter1-frames 1.00s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter1-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1200 .inhaltlich-verantwor-PMAT2e {
  background-color: transparent;
  bottom: -2px;
  color: var(--gallery);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: 4488px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 35px;
  opacity: 0.86;
  position: absolute;
  text-align: left;
  width: 100.22%;
}

.impressum-1200 .rechteck-623-oaVtER {
  background-color: var(--endeavour);
  bottom: 0px;
  height: 249px;
  left: 0px;
  opacity: 0.85;
  position: absolute;
  width: 100%;
}

.impressum-1200 .x104501_twitter_bird_icon-oaVtER {
  background-color: transparent;
  bottom: 111px;
  cursor: pointer;
  height: 28px;
  object-fit: cover;
  position: absolute;
  right: 212px;
  width: 35px;
}

.impressum-1200 .gruppe-1024-oaVtER {
  background-color: transparent;
  bottom: 9px;
  height: 216px;
  left: 152px;
  position: absolute;
  width: 802px;
}

.impressum-1200 .gruppe-1012-eEMuXZ {
  background-color: transparent;
  bottom: 13px;
  height: 74px;
  left: 0px;
  position: absolute;
  width: 167px;
}

.impressum-1200 .beratung-wr5aXk {
  background-color: transparent;
  bottom: 6px;
  height: 83.78%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 63px;
}

.impressum-1200 .ssl-wr5aXk {
  background-color: transparent;
  bottom: 0px;
  height: 74px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 74px;
}

.impressum-1200 .jetzt-digitalisieren-eEMuXZ {
  background-color: transparent;
  bottom: 171px;
  height: 45px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  width: 259px;
}

.impressum-1200 .zusammen-abheben-eEMuXZ {
  -webkit-text-stroke: 0.4000000059604645px var(--gallery);
  background-color: transparent;
  bottom: 139px;
  color: var(--gallery);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  width: 388px;
}

.impressum-1200 .vereinbare-ein-strategiegesprch-eEMuXZ {
  background-color: transparent;
  bottom: 104px;
  color: var(--blue-jeans);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
  height: 29px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  width: 256px;
}

.impressum-1200 .gruppe-1013-eEMuXZ {
  background-color: transparent;
  bottom: 0px;
  height: 216px;
  position: absolute;
  right: calc(43.89% - 72px);
  width: 164px;
}

.impressum-1200 .rechtliches-4eLFma {
  background-color: transparent;
  bottom: 171px;
  height: 45px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  width: 166px;
}

.impressum-1200 .agb-4eLFma {
  background-color: transparent;
  bottom: 104px;
  height: 29px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  width: 56px;
}

.impressum-1200 .impressum-4eLFma {
  background-color: transparent;
  bottom: 51px;
  height: 29px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  width: 123px;
}

.impressum-1200 .datenschutz-4eLFma {
  background-color: transparent;
  bottom: -2px;
  height: 29px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  width: 123px;
}

.impressum-1200 .gruppe-1014-eEMuXZ {
  background-color: transparent;
  bottom: 53px;
  height: 163px;
  position: absolute;
  right: 0px;
  width: 229px;
}

.impressum-1200 .get-your-rm9gQh {
  background-color: transparent;
  bottom: 118px;
  height: 45px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  width: 231px;
}

.impressum-1200 .referenzen-rm9gQh {
  background-color: transparent;
  bottom: 51px;
  height: 29px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  width: 134px;
}

.impressum-1200 .netzwerk-rm9gQh {
  background-color: transparent;
  bottom: -2px;
  height: 29px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  width: 123px;
}

.impressum-1200 .gruppe-1015-oaVtER {
  background-color: transparent;
  bottom: 75px;
  height: 27px;
  position: absolute;
  right: 26px;
  width: 226px;
}

.impressum-1200 .gruppe-909-QBWxGU {
  background-color: transparent;
  bottom: 13px;
  height: 9px;
  object-fit: cover;
  position: absolute;
  right: 217px;
  width: 9px;
}

.impressum-1200 .x2018-all-rights-reserved-QBWxGU {
  background-color: transparent;
  color: var(--licorice);
  font-family: var(--font-family-formadjr_micro-light);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 300;
  height: 29px;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% - 13px);
}

.impressum-1200 .logo-final-oaVtER {
  background-color: transparent;
  height: 58px;
  object-fit: cover;
  position: absolute;
  right: 58px;
  top: 59px;
  width: 56px;
}

.impressum-1200 .gruppe-910-oaVtER {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: calc(100.00% + 700px);
}

.impressum-1200 .gruppe-164-FptCEQ {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum-1200 .rechteck-305-c1HCim {
  background-color: var(--gallery);
  box-shadow: 0px 6px 12px #00000029;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.impressum-1200 .gruppe-226-FptCEQ {
  background-color: transparent;
  bottom: calc(46.15% - 11px);
  height: 24px;
  left: 19px;
  position: absolute;
  width: 33px;
}

.impressum-1200 .rechteck-315-5imBOB {
  background-color: var(--black);
  box-shadow: 0px 3px 6px #00000029;
  height: 8px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum-1200 .rechteck-316-5imBOB {
  background-color: var(--red);
  box-shadow: 0px 3px 6px #00000029;
  height: 8px;
  left: 0px;
  position: absolute;
  top: calc(50.00% - 4px);
  width: 100%;
}

.impressum-1200 .rechteck-317-5imBOB {
  background-color: var(--supernova);
  bottom: 0px;
  box-shadow: 0px 3px 6px #00000029;
  height: 8px;
  left: 0px;
  position: absolute;
  width: 100%;
}
/* screen - impressum-1900 */

.impressum-1900 {
  background-color: var(--licorice);
  height: 100vh;
  margin: 0px;
  min-height: 4295px;
  min-width: 1900px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.impressum-1900 .logo-final-2Ntp5t {
  background-color: transparent;
  display: block;
  height: 68px;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  right: 39px;
  top: 69px;
  width: 66px;
}

.impressum-1900 .logo-final-2Ntp5t.bp1-animate-enter {
  animation: bp1-animate-enter-frames 1.00s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1900 .gruppe-1175-2Ntp5t {
  background-color: transparent;
  display: block;
  height: 99px;
  left: 194px;
  opacity: 0;
  position: absolute;
  top: 128px;
  width: 365px;
}

.impressum-1900 .gruppe-1175-2Ntp5t.bp1-animate-enter1 {
  animation: bp1-animate-enter1-frames 1.00s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter1-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1900 .impressum-5u2oaP {
  -webkit-text-stroke: 3.299999952316284px var(--gallery);
  background-color: transparent;
  color: var(--gallery);
  font-family: var(--font-family-magistral-book);
  font-size: 75px;
  font-style: normal;
  font-weight: 400;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 75px;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.impressum-1900 .gruppe-1177-2Ntp5t {
  background-color: transparent;
  display: block;
  height: 3493px;
  opacity: 0;
  position: absolute;
  right: 289px;
  top: 514px;
  width: 75.53%;
}

.impressum-1900 .gruppe-1177-2Ntp5t.bp1-animate-enter2 {
  animation: bp1-animate-enter2-frames 1.00s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter2-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1900 .inhaltlich-verantwor-QzxBZD {
  background-color: transparent;
  bottom: -2px;
  color: var(--gallery);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: 3495px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 35px;
  opacity: 0.86;
  position: absolute;
  text-align: left;
  width: 100.14%;
}

.impressum-1900 .gruppe-1239-2Ntp5t {
  background-color: transparent;
  bottom: 1px;
  height: 399px;
  left: -30px;
  position: absolute;
  width: calc(100.00% + 20px);
}

.impressum-1900 .rechteck-623-SrsHit {
  background-color: var(--endeavour);
  bottom: 0px;
  height: 399px;
  left: 0px;
  opacity: 0.85;
  position: absolute;
  width: 100%;
}

.impressum-1900 .x104501_twitter_bird_icon-SrsHit {
  background-color: transparent;
  bottom: 186px;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: absolute;
  right: 339px;
  width: 40px;
}

.impressum-1900 .gruppe-1011-SrsHit {
  background-color: transparent;
  bottom: 136px;
  height: 29px;
  position: absolute;
  right: 140px;
  width: 261px;
}

.impressum-1900 .gruppe-909-H6ILEG {
  background-color: transparent;
  bottom: 10px;
  height: 19px;
  opacity: 0.85;
  position: absolute;
  right: 247px;
  width: 14px;
}

.impressum-1900 .ellipse-59445-Yd1d0v {
  background-color: transparent;
  border: 1px solid var(--licorice);
  border-radius: 7px;
  bottom: 2px;
  height: 14px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.impressum-1900 .c-Yd1d0v {
  -webkit-text-stroke: 0.30000001192092896px var(--licorice);
  background-color: transparent;
  color: var(--licorice);
  font-family: var(--font-family-formadjr_micro-light);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 300;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  right: calc(25.00% - 2px);
  text-align: left;
  top: -6px;
  white-space: nowrap;
  width: 10px;
}

.impressum-1900 .x2018-all-rights-reserved-H6ILEG {
  background-color: transparent;
  bottom: -2px;
  color: var(--licorice);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: -2px;
  text-align: left;
  width: 244px;
}

.impressum-1900 .gruppe-1025-SrsHit {
  background-color: transparent;
  bottom: 25px;
  height: 297px;
  left: 152px;
  position: absolute;
  width: 1131px;
}

.impressum-1900 .gruppe-1008-zh0mxE {
  background-color: transparent;
  bottom: 0px;
  height: 90px;
  left: 0px;
  position: absolute;
  width: 203px;
}

.impressum-1900 .beratung-Bjsxkx {
  background-color: transparent;
  bottom: 7px;
  height: 76px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 77px;
}

.impressum-1900 .ssl-Bjsxkx {
  background-color: transparent;
  bottom: 0px;
  height: 90px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 90px;
}

.impressum-1900 .jetzt-digitalisieren-zh0mxE {
  background-color: transparent;
  bottom: 252px;
  height: 45px;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 34px;
  position: absolute;
  text-align: left;
  width: 388px;
}

.impressum-1900 .vereinbare-ein-strategiegesprch-zh0mxE {
  background-color: transparent;
  bottom: 100px;
  color: var(--blue-jeans);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: 29px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  width: 353px;
}

.impressum-1900 .zusammen-abheben-zh0mxE {
  -webkit-text-stroke: 0.4000000059604645px var(--gallery);
  background-color: transparent;
  bottom: 139px;
  color: var(--gallery);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  height: 45px;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  width: 388px;
}

.impressum-1900 .gruppe-1009-zh0mxE {
  background-color: transparent;
  bottom: 37px;
  height: 260px;
  position: absolute;
  right: calc(42.57% - 97px);
  width: 229px;
}

.impressum-1900 .agb-Effeem {
  background-color: transparent;
  bottom: 128px;
  height: 29px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  width: 56px;
}

.impressum-1900 .impressum-Effeem {
  background-color: transparent;
  bottom: 63px;
  height: 29px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  width: 123px;
}

.impressum-1900 .datenschutz-Effeem {
  background-color: transparent;
  bottom: -2px;
  height: 29px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  width: 169px;
}

.impressum-1900 .rechtliches-Effeem {
  background-color: transparent;
  bottom: 215px;
  height: 45px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 34px;
  position: absolute;
  text-align: left;
  width: 231px;
}

.impressum-1900 .gruppe-1010-zh0mxE {
  background-color: transparent;
  bottom: 102px;
  height: 195px;
  position: absolute;
  right: 0px;
  width: 229px;
}

.impressum-1900 .referenzen-2DnBrJ {
  background-color: transparent;
  bottom: 63px;
  height: 29px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  width: 134px;
}

.impressum-1900 .netzwerk-2DnBrJ {
  background-color: transparent;
  bottom: -2px;
  height: 29px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  width: 123px;
}

.impressum-1900 .get-your-2DnBrJ {
  background-color: transparent;
  bottom: 150px;
  height: 45px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 34px;
  position: absolute;
  text-align: left;
  width: 231px;
}

.impressum-1900 .gruppe-910-2Ntp5t {
  background-color: transparent;
  display: block;
  height: 37px;
  left: 0px;
  opacity: 0;
  position: fixed;
  top: 0px;
  width: calc(100.00% + 20px);
}

.impressum-1900 .gruppe-910-2Ntp5t.bp1-animate-enter3 {
  animation: bp1-animate-enter3-frames 1.00s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter3-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1900 .gruppe-164-dHjTRJ {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum-1900 .rechteck-305-f2PPI7 {
  background-color: var(--gallery);
  box-shadow: 0px 6px 12px #00000029;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.impressum-1900 .gruppe-226-dHjTRJ {
  background-color: transparent;
  bottom: calc(46.15% - 11px);
  height: 24px;
  left: 19px;
  position: absolute;
  width: 33px;
}

.impressum-1900 .rechteck-315-0Ju2Kf {
  background-color: var(--black);
  box-shadow: 0px 3px 6px #00000029;
  height: 8px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum-1900 .rechteck-316-0Ju2Kf {
  background-color: var(--red);
  box-shadow: 0px 3px 6px #00000029;
  height: 8px;
  left: 0px;
  position: absolute;
  top: calc(50.00% - 4px);
  width: 100%;
}

.impressum-1900 .rechteck-317-0Ju2Kf {
  background-color: var(--supernova);
  bottom: 0px;
  box-shadow: 0px 3px 6px #00000029;
  height: 8px;
  left: 0px;
  position: absolute;
  width: 100%;
}
/* screen - impressum-375 */

.impressum-375 {
  background-color: var(--licorice);
  height: 100vh;
  margin: 0px;
  min-height: 1777px;
  min-width: 375px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.impressum-375 .gruppe-1175-DHh6RZ {
  background-color: transparent;
  display: block;
  height: 34px;
  left: 32px;
  opacity: 0;
  position: absolute;
  top: 150px;
  width: 33.87%;
}

.impressum-375 .gruppe-1175-DHh6RZ.bp4-animate-enter {
  animation: bp4-animate-enter-frames 1.00s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .impressum-qxpcJ1 {
  -webkit-text-stroke: 1px var(--gallery);
  background-color: transparent;
  color: var(--gallery);
  font-family: var(--font-family-magistral-book);
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 4px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.impressum-375 .gruppe-1177-DHh6RZ {
  background-color: transparent;
  display: block;
  height: 1302px;
  opacity: 0;
  position: absolute;
  right: 91px;
  top: 278px;
  width: 67.27%;
}

.impressum-375 .gruppe-1177-DHh6RZ.bp4-animate-enter1 {
  animation: bp4-animate-enter1-frames 1.00s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter1-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .inhaltlich-verantwor-KGC1x4 {
  background-color: transparent;
  bottom: -2px;
  color: var(--gallery);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: var(--font-size-xxxxxs);
  font-style: normal;
  font-weight: 400;
  height: 1304px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  opacity: 0.86;
  position: absolute;
  text-align: left;
  width: 100.79%;
}

.impressum-375 .rechteck-623-DHh6RZ {
  background-color: var(--endeavour);
  bottom: 0px;
  height: 151px;
  left: 0px;
  opacity: 0.85;
  position: absolute;
  width: 100%;
}

.impressum-375 .x104501_twitter_bird_icon-DHh6RZ {
  background-color: transparent;
  bottom: 20px;
  cursor: pointer;
  height: 14px;
  object-fit: cover;
  position: absolute;
  right: 66px;
  width: 18px;
}

.impressum-375 .gruppe-1023-DHh6RZ {
  background-color: transparent;
  bottom: 7px;
  height: 9px;
  position: absolute;
  right: 4px;
  width: 79px;
}

.impressum-375 .gruppe-909-ySGgho {
  background-color: transparent;
  bottom: 3px;
  height: 6px;
  opacity: 0.85;
  position: absolute;
  right: 75px;
  width: 5px;
}

.impressum-375 .ellipse-59445-atqOSv {
  background-color: transparent;
  border-radius: 2.3px;
  height: calc(100.00% - 1px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.impressum-375 .c-atqOSv {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: calc(17.64% - 1px);
  top: 0px;
  width: 3px;
}

.impressum-375 .x2018-all-rights-reserved-ySGgho {
  background-color: transparent;
  bottom: -2px;
  color: var(--licorice);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: 5px;
  font-style: normal;
  font-weight: 400;
  height: 11px;
  letter-spacing: 0.00px;
  line-height: 5px;
  position: absolute;
  right: -2px;
  text-align: left;
  width: 75px;
}

.impressum-375 .gruppe-1029-DHh6RZ {
  background-color: transparent;
  bottom: calc(0.66% - 1px);
  height: 122px;
  left: 25px;
  position: absolute;
  width: calc(100.00% - 60px);
}

.impressum-375 .gruppe-1027-gp7sar {
  background-color: transparent;
  height: 63.93%;
  left: 246px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 246px);
}

.impressum-375 .gruppe-1022-oD9zoH {
  background-color: transparent;
  bottom: 0px;
  height: 78px;
  left: calc(50.00% - 34px);
  position: absolute;
  width: 69px;
}

.impressum-375 .get-your-i3glsK {
  background-color: transparent;
  bottom: 64px;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  width: 71px;
}

.impressum-375 .referenzen-i3glsK {
  background-color: transparent;
  bottom: 26px;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  width: 60px;
}

.impressum-375 .netzwerk-i3glsK {
  background-color: transparent;
  bottom: -2px;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  width: 56px;
}

.impressum-375 .gruppe-1021-gp7sar {
  background-color: transparent;
  height: 87.70%;
  left: 135px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 222px);
}

.impressum-375 .rechtliches-t9pKf2 {
  background-color: transparent;
  bottom: 93px;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  width: 71px;
}

.impressum-375 .agb-t9pKf2 {
  background-color: transparent;
  bottom: 54px;
  height: 17px;
  left: calc(2.70% - 2px);
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  width: 56px;
}

.impressum-375 .impressum-t9pKf2 {
  background-color: transparent;
  bottom: 26px;
  height: 17px;
  left: calc(2.70% - 2px);
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  width: 56px;
}

.impressum-375 .datenschutz-t9pKf2 {
  background-color: transparent;
  bottom: -2px;
  height: 17px;
  left: 1.08%;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  width: 94px;
}

.impressum-375 .gruppe-1028-gp7sar {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 194px);
}

.impressum-375 .gruppe-1030-QdXSBZ {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.impressum-375 .gruppe-1020-Pxc8cH {
  background-color: transparent;
  bottom: 0px;
  height: 36px;
  left: 0px;
  position: absolute;
  width: 82px;
}

.impressum-375 .beratung-xjSHO2 {
  background-color: transparent;
  height: calc(100.00% - 6px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 31px;
}

.impressum-375 .ssl-xjSHO2 {
  background-color: transparent;
  bottom: 0px;
  height: 36px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 36px;
}

.impressum-375 .digitalisieren-Pxc8cH {
  background-color: transparent;
  bottom: 92px;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  width: 123px;
}

.impressum-375 .strategiegesprch-Pxc8cH {
  background-color: transparent;
  bottom: 41px;
  color: var(--blue-jeans);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  width: 96px;
}

.impressum-375 .logo-final-DHh6RZ {
  background-color: transparent;
  display: block;
  height: 37px;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  right: 25px;
  top: 45px;
  width: 36px;
}

.impressum-375 .logo-final-DHh6RZ.bp4-animate-enter2 {
  animation: bp4-animate-enter2-frames 0.60s ease-in 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter2-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .gruppe-910-DHh6RZ {
  background-color: transparent;
  display: block;
  height: 37px;
  left: 0px;
  opacity: 0;
  position: fixed;
  top: 0px;
  width: calc(100.00% + 4px);
}

.impressum-375 .gruppe-910-DHh6RZ.bp4-animate-enter3 {
  animation: bp4-animate-enter3-frames 0.60s ease-in 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter3-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .gruppe-164-uDxbIx {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum-375 .rechteck-305-KFuU4g {
  background-color: var(--gallery);
  box-shadow: 0px 6px 12px #00000029;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.impressum-375 .gruppe-226-uDxbIx {
  background-color: transparent;
  bottom: calc(46.15% - 11px);
  height: 24px;
  left: 19px;
  position: absolute;
  width: 33px;
}

.impressum-375 .rechteck-315-y1rb6b {
  background-color: var(--black);
  box-shadow: 0px 3px 6px #00000029;
  height: 8px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum-375 .rechteck-316-y1rb6b {
  background-color: var(--red);
  box-shadow: 0px 3px 6px #00000029;
  height: 8px;
  left: 0px;
  position: absolute;
  top: calc(50.00% - 4px);
  width: 100%;
}

.impressum-375 .rechteck-317-y1rb6b {
  background-color: var(--supernova);
  bottom: 0px;
  box-shadow: 0px 3px 6px #00000029;
  height: 8px;
  left: 0px;
  position: absolute;
  width: 100%;
}
/* screen - impressum-767 */

.impressum-767 {
  background-color: var(--licorice);
  height: 100vh;
  margin: 0px;
  min-height: 3435px;
  min-width: 767px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.impressum-767 .gruppe-1175-JqU86S {
  background-color: transparent;
  display: block;
  height: 52px;
  left: 72px;
  opacity: 0;
  position: absolute;
  top: 194px;
  width: 25.42%;
}

.impressum-767 .gruppe-1175-JqU86S.bp3-animate-enter {
  animation: bp3-animate-enter-frames 1.00s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-767 .impressum-EHWID9 {
  -webkit-text-stroke: 2px var(--gallery);
  background-color: transparent;
  color: var(--gallery);
  font-family: var(--font-family-magistral-book);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.impressum-767 .gruppe-1177-JqU86S {
  background-color: transparent;
  display: block;
  height: 2565px;
  opacity: 0;
  position: absolute;
  right: 94px;
  top: 420px;
  width: 75.49%;
}

.impressum-767 .gruppe-1177-JqU86S.bp3-animate-enter1 {
  animation: bp3-animate-enter1-frames 1.00s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter1-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-767 .inhaltlich-verantwor-GpxZlc {
  background-color: transparent;
  bottom: -2px;
  color: var(--gallery);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: 2567px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  opacity: 0.86;
  position: absolute;
  text-align: left;
  width: 100.35%;
}

.impressum-767 .rechteck-623-JqU86S {
  background-color: var(--endeavour);
  bottom: -1px;
  height: 249px;
  left: 0px;
  opacity: 0.85;
  position: absolute;
  width: 100%;
}

.impressum-767 .x104501_twitter_bird_icon-JqU86S {
  background-color: transparent;
  bottom: 38px;
  cursor: pointer;
  height: 27px;
  object-fit: cover;
  position: absolute;
  right: 136px;
  width: 34px;
}

.impressum-767 .gruppe-1019-JqU86S {
  background-color: transparent;
  bottom: 11px;
  height: 18px;
  position: absolute;
  right: 16px;
  width: 154px;
}

.impressum-767 .gruppe-909-AwUymJ {
  background-color: transparent;
  bottom: 9px;
  height: 9px;
  opacity: 0.85;
  position: absolute;
  right: 145px;
  width: 9px;
}

.impressum-767 .ellipse-59445-0kPmaj {
  background-color: transparent;
  border-radius: 4.38px;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum-767 .c-0kPmaj {
  background-color: transparent;
  height: 100%;
  left: calc(50.00% - 2px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 5px;
}

.impressum-767 .x2018-all-rights-reserved-AwUymJ {
  background-color: transparent;
  color: var(--licorice);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 9px;
  position: absolute;
  text-align: left;
  top: 1px;
  width: calc(100.00% - 13px);
}

.impressum-767 .gruppe-1026-JqU86S {
  background-color: transparent;
  bottom: 21px;
  height: 203px;
  left: 52px;
  position: absolute;
  width: 72.10%;
}

.impressum-767 .gruppe-1016-nIXkDp {
  background-color: transparent;
  bottom: 0px;
  height: 74px;
  left: 0px;
  position: absolute;
  width: 167px;
}

.impressum-767 .beratung-uTg7iK {
  background-color: transparent;
  bottom: 6px;
  height: 62px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 63px;
}

.impressum-767 .ssl-uTg7iK {
  background-color: transparent;
  bottom: 0px;
  height: 74px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 74px;
}

.impressum-767 .jetzt-digitalisieren-nIXkDp {
  background-color: transparent;
  bottom: 178px;
  height: 25px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  width: 195px;
}

.impressum-767 .vereinbare-ein-strategiegesprch-nIXkDp {
  background-color: transparent;
  bottom: 100px;
  color: var(--blue-jeans);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 400;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  width: 228px;
}

.impressum-767 .gruppe-1017-nIXkDp {
  background-color: transparent;
  bottom: 14px;
  height: 189px;
  position: absolute;
  right: calc(36.78% - 43px);
  width: 118px;
}

.impressum-767 .rechtliches-Q3VQ5v {
  background-color: transparent;
  bottom: 164px;
  height: 25px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  width: 120px;
}

.impressum-767 .agb-Q3VQ5v {
  background-color: transparent;
  bottom: 86px;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  width: 56px;
}

.impressum-767 .impressum-Q3VQ5v {
  background-color: transparent;
  bottom: 42px;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  width: 78px;
}

.impressum-767 .datenschutz-Q3VQ5v {
  background-color: transparent;
  bottom: -2px;
  height: 22px;
  left: calc(50.00% - 60px);
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  width: 120px;
}

.impressum-767 .gruppe-1018-nIXkDp {
  background-color: transparent;
  bottom: 58px;
  height: 145px;
  position: absolute;
  right: 0px;
  width: 118px;
}

.impressum-767 .get-your-xoRThz {
  background-color: transparent;
  bottom: 120px;
  height: 25px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  width: 120px;
}

.impressum-767 .referenzen-xoRThz {
  background-color: transparent;
  bottom: 42px;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  width: 80px;
}

.impressum-767 .netzwerk-xoRThz {
  background-color: transparent;
  bottom: -2px;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  width: 78px;
}

.impressum-767 .zusammen-abheben-nIXkDp {
  -webkit-text-stroke: 0.4000000059604645px var(--gallery);
  background-color: transparent;
  bottom: 124px;
  color: var(--gallery);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 500;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  width: 182px;
}

.impressum-767 .logo-final-JqU86S {
  background-color: transparent;
  display: block;
  height: 58px;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  right: 35px;
  top: 48px;
  width: 56px;
}

.impressum-767 .logo-final-JqU86S.bp3-animate-enter2 {
  animation: bp3-animate-enter2-frames 1.00s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter2-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-767 .gruppe-910-JqU86S {
  background-color: transparent;
  display: block;
  height: 20px;
  left: 0px;
  opacity: 0;
  position: fixed;
  top: 0px;
  width: 100%;
}

.impressum-767 .gruppe-910-JqU86S.bp3-animate-enter3 {
  animation: bp3-animate-enter3-frames 1.00s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter3-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-767 .gruppe-164-PdU32Z {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum-767 .rechteck-305-omlWvP {
  background-color: var(--gallery);
  box-shadow: 0px 6px 12px #00000029;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.impressum-767 .gruppe-226-PdU32Z {
  background-color: transparent;
  height: 13px;
  left: 19px;
  position: absolute;
  top: calc(42.87% - 6px);
  width: 18px;
}

.impressum-767 .rechteck-315-ua2lTZ {
  background-color: var(--black);
  box-shadow: 0px 3px 6px #00000029;
  height: 4px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum-767 .rechteck-316-ua2lTZ {
  background-color: var(--red);
  box-shadow: 0px 3px 6px #00000029;
  height: 5px;
  left: 0px;
  position: absolute;
  top: calc(50.00% - 2px);
  width: 100%;
}

.impressum-767 .rechteck-317-ua2lTZ {
  background-color: var(--supernova);
  bottom: 0px;
  box-shadow: 0px 3px 6px #00000029;
  height: 4px;
  left: 0px;
  position: absolute;
  width: 100%;
}
@media screen and (max-width: 766px) {
  .screen.impressum-1900 { 
    display: none;
   }
  .screen.impressum-1200 { 
    display: none;
   }
  .screen.impressum-767 { 
    display: none;
   }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .screen.impressum-375 { 
    display: none;
   }
  .screen.impressum-1900 { 
    display: none;
   }
  .screen.impressum-1200 { 
    display: none;
   }
}
@media screen and (min-width: 1200px) and (max-width: 1899px) {
  .screen.impressum-375 { 
    display: none;
   }
  .screen.impressum-1900 { 
    display: none;
   }
  .screen.impressum-767 { 
    display: none;
   }
}
@media screen and (min-width: 1900px) {
  .screen.impressum-375 { 
    display: none;
   }
  .screen.impressum-1200 { 
    display: none;
   }
  .screen.impressum-767 { 
    display: none;
   }
}