:root { 
  --black: #000000;
  --blue-jeans: #6db2f2;
  --endeavour: #075baa;
  --gallery: #ededed;
  --licorice: #141414;
  --red: #ff0000;
  --supernova: #ffcc00;
 
  --font-size-m: 35px;
  --font-size-s: 22px;
  --font-size-xs: 18px;
  --font-size-xxs: 17px;
  --font-size-xxxs: 16px;
  --font-size-xxxxs: 15px;
  --font-size-xxxxxs: 10px;
 
  --font-family-formadjr_micro-light: "FormaDJR Micro-Light", Helvetica;
  --font-family-formadjr_micro-medium: "FormaDJR Micro-Medium", Helvetica;
  --font-family-formadjr_micro-regular: "FormaDJR Micro-Regular", Helvetica;
  --font-family-magistral-book: "Magistral-Book", Helvetica;
}
.formadjrmicro-regular-normal-licorice-11px {
  color: var(--licorice);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-regular-normal-licorice-22px {
  color: var(--licorice);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-regular-normal-licorice-17px {
  color: var(--licorice);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-regular-normal-licorice-15px {
  color: var(--licorice);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-medium-licorice-10px {
  color: var(--licorice);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: var(--font-size-xxxxxs);
  font-style: normal;
  font-weight: 500;
}

.formadjrmicro-medium-licorice-34px {
  color: var(--licorice);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
}

.formadjrmicro-medium-licorice-24px {
  color: var(--licorice);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.formadjrmicro-medium-licorice-18px {
  color: var(--licorice);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}
