:root { 
  --black: #000000;
  --blue-jeans: #6db2f2;
  --blue-jeans-2: #6db2f2e6;
  --bright-red: #a50000;
  --celeste: #cecece;
  --celeste-2: #cbcbcb;
  --daintree: #07253a;
  --danube: #64a2dc;
  --danube-2: #63a1db;
  --denim: #267bc7;
  --denim-2: #0c6abf;
  --eerie-black: #1f1f1f;
  --endeavour: #075baa;
  --falu-red: #8c1717;
  --gallery: #ededed;
  --gallery-2: #edededcc;
  --gallery-3: #edededb2;
  --guardsman-red: #bd0606;
  --licorice: #141414;
  --midnight-blue: #06335c;
  --milano-red: #b81818;
  --milano-red-2: #b81717;
  --red: #ff0000;
  --red-2: #fe0000;
  --sangria: #a40808;
  --sangria-2: #8f0a0a;
  --steel-blue: #5487b6;
  --supernova: #ffcc00;
  --tamarillo: #a21717;
  --tart-orange: #f74949;
  --thunderbird: #ba1919;
  --venice-blue: #0c5291;
  --white: #ffffff;
 
  --font-size-l: 20px;
  --font-size-m: 18px;
  --font-size-s: 16px;
  --font-size-xl: 22px;
  --font-size-xs: 15px;
  --font-size-xxl: 25px;
  --font-size-xxxl: 28px;
 
  --font-family-forma_djr_micro: "Forma DJR Micro", Helvetica;
  --font-family-formadjr_micro-bold: "FormaDJR Micro-Bold", Helvetica;
  --font-family-formadjr_micro-light: "FormaDJR Micro-Light", Helvetica;
  --font-family-formadjr_micro-medium: "FormaDJR Micro-Medium", Helvetica;
  --font-family-formadjr_micro-regular: "FormaDJR Micro-Regular", Helvetica;
  --font-family-helveticaneue-bold: "HelveticaNeue-Bold", Helvetica;
  --font-family-helveticaneue-medium: "HelveticaNeue-Medium", Helvetica;
  --font-family-helveticaneue-thinitalic: "HelveticaNeue-ThinItalic", Helvetica;
  --font-family-magistral-book: "Magistral-Book", Helvetica;
  --font-family-myriadpro-bold: "MyriadPro-Bold", Helvetica;
}
.formadjrmicro-regular-normal-gallery-16px {
  color: var(--gallery);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-regular-normal-gallery-11px {
  color: var(--gallery);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-regular-normal-gallery-23px {
  color: var(--gallery);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-regular-normal-gallery-13px {
  color: var(--gallery);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-regular-normal-gallery-18px {
  color: var(--gallery);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-regular-normal-gallery-7px {
  color: var(--gallery);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: 7px;
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-regular-normal-gallery-15px {
  color: var(--gallery);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-medium-gallery-28px {
  color: var(--gallery);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
}

.formadjrmicro-regular-normal-gallery-20px {
  color: var(--gallery);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-medium-denim-28px {
  color: var(--denim);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
}

.formadjrmicro-regular-normal-gallery-25px {
  color: var(--gallery);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-medium-denim-26px {
  color: var(--denim);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
}

.formadjrmicro-regular-normal-gallery-22px {
  color: var(--gallery);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-medium-denim-40px {
  color: var(--denim);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
}

.magistral-book-normal-gallery-40px {
  color: var(--gallery);
  font-family: var(--font-family-magistral-book);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}

.magistral-book-normal-gallery-24px {
  color: var(--gallery);
  font-family: var(--font-family-magistral-book);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-medium-black-29px {
  color: var(--black);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: 29px;
  font-style: normal;
  font-weight: 500;
}

.magistral-book-normal-gallery-42px {
  color: var(--gallery);
  font-family: var(--font-family-magistral-book);
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-medium-gallery-40px {
  color: var(--gallery);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
}

.formadjrmicro-medium-gallery-24px {
  color: var(--gallery);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.formadjrmicro-medium-denim-24px {
  color: var(--denim);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.formadjrmicro-bold-black-20px {
  color: var(--black);
  font-family: var(--font-family-formadjr_micro-bold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.formadjrmicro-regular-normal-licorice-11px {
  color: var(--licorice);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-medium-white-12px {
  color: var(--white);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

.formadjrmicro-medium-white-14px {
  color: var(--white);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.magistral-book-normal-thunderbird-40px {
  color: var(--thunderbird);
  font-family: var(--font-family-magistral-book);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-bold-black-22px {
  color: var(--black);
  font-family: var(--font-family-formadjr_micro-bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.formadjrmicro-regular-normal-licorice-15px {
  color: var(--licorice);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-medium-gallery-32px {
  color: var(--gallery);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
}

.formadjrmicro-bold-black-24px {
  color: var(--black);
  font-family: var(--font-family-formadjr_micro-bold);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.formadjrmicro-regular-normal-licorice-17px {
  color: var(--licorice);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-medium-white-18px {
  color: var(--white);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.magistral-book-normal-gallery-60px {
  color: var(--gallery);
  font-family: var(--font-family-magistral-book);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-bold-black-28px {
  color: var(--black);
  font-family: var(--font-family-formadjr_micro-bold);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.formadjrmicro-regular-normal-licorice-22px {
  color: var(--licorice);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-medium-white-22px {
  color: var(--white);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.magistral-book-normal-thunderbird-24px {
  color: var(--thunderbird);
  font-family: var(--font-family-magistral-book);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-bold-gallery-20px {
  color: var(--gallery);
  font-family: var(--font-family-formadjr_micro-bold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.magistral-book-normal-blue-jeans-40px {
  color: var(--blue-jeans);
  font-family: var(--font-family-magistral-book);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-medium-celeste-32px {
  color: var(--celeste);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
}

.magistral-book-normal-thunderbird-42px {
  color: var(--thunderbird);
  font-family: var(--font-family-magistral-book);
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-regular-normal-gallery-27px {
  color: var(--gallery);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
}

.magistral-book-normal-blue-jeans-60px {
  color: var(--blue-jeans);
  font-family: var(--font-family-magistral-book);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}

.helveticaneue-bold-midnight-blue-9px {
  color: var(--midnight-blue);
  font-family: var(--font-family-helveticaneue-bold);
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
}

.formadjrmicro-regular-normal-thunderbird-16px {
  color: var(--thunderbird);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.magistral-book-normal-blue-jeans-24px {
  color: var(--blue-jeans);
  font-family: var(--font-family-magistral-book);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-bold-gallery-20px-2 {
  color: var(--gallery);
  font-family: var(--font-family-forma_djr_micro);
  font-size: var(--font-size-l);
}

.formadjrmicro-medium-licorice-10px {
  color: var(--licorice);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
}

.formadjrmicro-medium-gallery-25px {
  color: var(--gallery);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.formadjrmicro-regular-normal-gallery-10px {
  color: var(--gallery);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-medium-denim-22px {
  color: var(--denim-2);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.formadjrmicro-regular-normal-gallery-17px {
  color: var(--gallery);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-regular-normal-black-22px {
  color: var(--black);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-medium-denim-26px-2 {
  color: var(--denim-2);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
}

.helveticaneue-medium-midnight-blue-12px {
  color: var(--midnight-blue);
  font-family: var(--font-family-helveticaneue-medium);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

.formadjrmicro-medium-licorice-18px {
  color: var(--licorice);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.magistral-book-normal-blue-jeans-53px {
  color: var(--blue-jeans);
  font-family: var(--font-family-magistral-book);
  font-size: 53px;
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-medium-gallery-11px {
  color: var(--gallery-2);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
}

.magistral-book-normal-blue-jeans-42px {
  color: var(--blue-jeans);
  font-family: var(--font-family-magistral-book);
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
}

.helveticaneue-medium-midnight-blue-15px {
  color: var(--midnight-blue);
  font-family: var(--font-family-helveticaneue-medium);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.formadjrmicro-medium-gallery-16px {
  color: var(--gallery-2);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.formadjrmicro-medium-licorice-24px {
  color: var(--licorice);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.formadjrmicro-medium-denim-28px-2 {
  color: var(--denim-2);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
}

.magistral-book-normal-thunderbird-60px {
  color: var(--thunderbird);
  font-family: var(--font-family-magistral-book);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-medium-denim-40px-2 {
  color: var(--denim-2);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
}

.helveticaneue-medium-midnight-blue-25px {
  color: var(--midnight-blue);
  font-family: var(--font-family-helveticaneue-medium);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.formadjrmicro-medium-licorice-34px {
  color: var(--licorice);
  font-family: var(--font-family-formadjr_micro-medium);
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
}

.border-0-4px-gallery-2 {
  border: 0.4px solid var(--gallery-2);
}

.border-1px-gallery-2 {
  border: 1px solid var(--gallery-2);
}

.border-2px-thunderbird {
  border: 2px solid var(--thunderbird);
}

.border-5px-thunderbird {
  border: 5px solid var(--thunderbird);
}
